*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/.idea/**/*.xml
!/.idea/compiler.xml
!/.idea/vcs.xml
!/.idea/codeStyles/
/.idea/dictionaries/
/.idea/assetWizard.settings.xml
/.idea/deploymentTargetSelector.xml
/.idea/shelf/
/.idea/tasks.xml
